# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
splitmoney

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Build files
build/
dist/
*.egg-info/

# SQLite
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc

# Uploads
uploads/

# Temporary files
tmp/
temp/

# Jupyter
.ipynb_checkpoints/

# Secrets
secrets.json
credentials.json

#migrations
migrations
